<div class="lg:w-3/12 mt-10 p-10 shadow-lg mx-auto rounded-md">
    <h3 class="text-3xl text-center text-gray-600 font-bold py-5">Login</h3>
    <form [formGroup]="loginForm" class="flex flex-col">

        <div class="flex flex-col mt-4 mb-1">
            <input formControlName="email" class="p-2 border border-gray-300 rounded" type="text" placeholder="Email">
            <span *ngIf="loginForm.hasError('required', 'email') && loginForm.controls['email'].touched" class="text-rose-500">* Email is required.</span>
            <span *ngIf="loginForm.hasError('email', 'email')" class="text-rose-500">* Email is invalid.</span>
        </div>

        <div class="flex flex-col mt-4 mb-1">
            <input formControlName="password" class="p-2 border border-gray-300 rounded" type="password" placeholder="Password"  pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W]).{8,20})">
            <span *ngIf="loginForm.hasError('required', 'password') && loginForm.controls['password'].touched" class="text-rose-500">* Password is required.</span>
        </div>

        <button [disabled]="loginForm.invalid" [class.disabled]="loginForm.invalid" (click)="login()" class="bg-indigo-500 p-2 rounded mt-4 text-white">Login</button>

    </form>
    <div class="flex justify-between mt-3 font-light">
        <a routerLink="/reset-password" class="text-indigo-600 ml-2 cursor-pointer">Forgotten password?</a>
        <a routerLink="/register" class="text-indigo-600 ml-2 cursor-pointer"><i class="fa-regular fa-user"></i> Create account</a>
    </div>
</div>